* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* เป็นการกำหนดค่าสี เพื่อที่เราจะสามารถแก้ไขสีได้ทั้งโปรเจค */
:root {
  --line-border-fill: #3498db;
  --line-border-emtry: #e0e0e0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: #f6f7fb;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  justify-content: space-between;
  position: relative;
  margin-bottom: 30px;
  max-width: 100%;
  width: 350px;
}

.progress-container::before {
  position: absolute;
  content: '';
  background-color: var(--line-border-emtry);
  top: 50%;
  left: 0;
  height: 4px;
  width: 100%;
  transform: translateY(-50%);
  z-index: -1; /* ให้ตำแหน่งของข้อความไปอยู่ที่ด้านหลัง*/
}

.progress {
  position: absolute;
  background-color: var(--line-border-fill);
  top: 50%;
  left: 0;
  height: 4px;
  width: 0%;
  transform: translateY(-50%);
  z-index: -1; /* ให้ตำแหน่งของข้อความไปอยู่ที่ด้านหลัง*/
  transition: 0.4s ease;
}

.circle {
  background-color: #fff;
  color: #999;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line-border-emtry);
  transition: 0.4 ease;
  cursor: pointer;
}

.circle.active {
  border-color: var(--line-border-fill);
}

.btn {
  background-color: var(--line-border-fill);
  color: #fff;
  border: 0;
  border-radius: 4px;
  font-size: 14px;
  padding: 8px 30px;
  margin: 5px;
}

.btn:active {
  transform: scale(0.98);
}

.btn:disabled {
  background-color: var(--line-border-emtry);
  cursor: pointer;
}
