* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Courier New', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.picture-container {
  display: flex;
  flex-direction: row;
}

.picture {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80vh;
  height: 80vh;
  opacity: rgb(0, 0, 38, 1);
  display: none;
}

.picture.active {
  display: inline;
}

.caption {
  position: absolute;
  left: 10px;
  bottom: 10px;
  overflow: hidden;
}

.caption h3 {
  font-size: 30px;
  color: #fff;
  font-weight: 900;
}

.caption P {
  font-size: 20px;
  color: #fff;
  font-weight: 100;
}
